body {
    box-sizing: border-box;
    height: 95dvh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:  1rem;
}

p {
    margin: 0;
    padding: 0;
}

.text-white {
    color: #FFF;
}
.text-lg {
    font-size: 1.5rem;
}

.font-bold {
    font-weight: 600;
}

#logo {
    max-height: 5rem;
}

.curso-card {
    border: 1px solid rgb(141, 139, 139);
    border-radius: 7px;
}

.master {
    display: grid;
    height: 100%;
    grid-template-rows: 88% 12%;
    border: 2px solid rgb(145, 143, 143);

    & footer {
        height: 100%;
        border: 1px solid saddlebrown ;
    }

    & .content {
        display: grid;
        grid-template-columns: 12% 88%;

        & nav {
            border: 1px solid blue;
            background-color: #b81212;
            & ul {
                list-style-type: none;
                padding: 0;
                & a {
                    text-decoration: none;
                }
            }
        }
        & .resto {
            display: flex;
            flex-direction: column;

            border: 1px solid red;
            & header {
                display: flex;  
                padding: 0.5rem 2rem;
                background-color: #ed1515;
                align-items: center;
                gap: 3rem;

            }   
            & main {
                height: 100%;
                border: 1px solid orange;
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;
            }
        }
    }
}

