<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Musica</title>
</head>
<body>
    <div id="master">
        <div id="master-top">
            <p class="titulo">Musica</p>
            <a href="../index.html">Voltar</a>
        </div>
        <div id="master-body">
            <audio src="../file/audio/jota_quest.mp3"controls></audio>
        </div>
        <div id="master-bottom">

        </div>
    </div>
</body>
</html>