<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Video</title>
</head>
<body>
    <div id="master">
        <div id="master-top">
            <p class="titulo">Video</p>
            <a href="../index.html">Voltar</a>
        </div>
        <div id="master-body">
            <video width="655" height="300" controls>
                <source src="../file/video/jota-quest-s-hoje.mp4" type="video/mp4">
            </video>
        </div>
        <div id="master-bottom">

        </div>
    </div>
</body>
</html>