<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/todas-tabuadas.js" defer></script>
</head>
<body>
    <div class="menu">
        <p class="text-center text-lg font-medium">Todas as tabuadas de 1 à 10</p>
        <a href="../index.html" class="text-blue-500 text-center">Voltar</a>
    </div>


    <div id="tabuada-lista">
    </div>
</body>
</html>